/*Victor Cislari (DHBW-Mannheim, Matrikel-Nr.: 8067138)*/

/*defines how the credentials look.
I tried to make it look simple and professional.*/

#credentials {
    margin: 15px;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
